<!-- Common CSS/JS Files -->

<link rel="stylesheet" type="text/css" href="https://ryanwaite28.github.io/my-cdn/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="https://ryanwaite28.github.io/my-cdn/css/emerald.css"/>
<link rel="stylesheet" type="text/css" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">

<script src="https://ryanwaite28.github.io/my-cdn/js/jquery.js"></script>
<script src="https://ryanwaite28.github.io/my-cdn/js/parallax/parallax.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://ryanwaite28.github.io/my-cdn/js/bootstrap.js"></script>
<script src="https://ryanwaite28.github.io/my-cdn/js/angular.js"></script>
<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.1.4/angularfire.min.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>

<script src="/static/js/js.cookie.js"></script>


<!-- End ^ -->
