<!DOCTYPE html>
<html>

<head>
  <title>Hear Me Now | Welcome!</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"> {% load staticfiles %} {% include 'dependencies-1.html' %}

  <link rel="stylesheet" type="text/css" href="/static/css/grand.css">
  <link rel="stylesheet" type="text/css" href="/static/css/welcome.css">
  <link rel="icon" size="20x20" href="" />

  <script src="/static/js/grand.js"></script>
  <script src="/static/js/welcome.js"></script>
</head>

<body ng-app="webApp" ng-controller="welcomeCtrl" class="transition">

  <div id="top-bar" class="transition">

    <div id="wp-logo-1-c">
      <a title="Home Page" href="/"><img id="wp-logo-1" class="transition" src="" /></a>
    </div>

    <p id="drop-chev-p" class="text-center"><i aria-hidden="true" data-toggle="collapse" data-target="#links-collapse" title="Drop Down Menu" id="drop-chev-1" class="sdw-1 transition fa fa-chevron-circle-down"></i></p>

    <i title="Scroll Back To Top" id="arrow-1" class="sdw-1 hide-1 transition fa fa-arrow-circle-up"></i>



    <div id="links-collapse" class="transition collapse">

    </div>

  </div>

  <!--  -->

  <div id="main-container" class="container-fluid">
    <div class="row fill parallax-window" id="welcome-header" data-parallax="scroll" data-image-src="/static/img/bg-default.jpg">
      <div class="dim"></div>
      <div class="col-md-12">
        <h1 id="wp-header"><em>Hear Me Now</em></h1>
        <p class="p-emp-1 text-s1"></p>
      </div>
    </div>

    <div id="bar-1" class="col-md-12">

    </div>

    <div id="bar-2" class="col-md-6">

    </div>
    <div id="bar-3" class="col-md-6">

    </div>

    <div id="bar-4" class="col-md-12">

    </div>
    <div id="bar-5" class="col-md-4">

    </div>
    <div id="bar-6" class="col-md-4">

    </div>
    <div id="bar-7" class="col-md-4">

    </div>
  </div>

</body>

<!--

    wp = Welcome Page

  -->

</html>
